.hot-items{
    margin-top: 10vh;
    padding-left: 2vw;
    margin-left: 2vw;
}
#hot-items-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
}
.hot-item{
    margin-right: 2vw;
    margin-left: 2vw;
    display: inline-block;
    width: 26vw;
}
.hot-item img{
    width:100%;
}
@media only screen and (min-width: 900px){
    .hot-item{
        height: 20vh;
    }
}
