#theme1, #theme2{
    width: 80vw;
    height: 60vh;
}
@media only screen and (max-width: 900px){
    #theme1, #theme2{
        margin-left: 8vw;
        margin-right: 8vw;
    }
}
#popular-themes-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
}
#theme1 img{
    width: 100%;
}
#theme2 img{
    width: 100%;
}
#themes{
    margin-top: 5vh;
}
@media only screen and (min-width: 900px){
    #theme1, #theme2{
        display: inline-block;
        width: 40vw;
        height: 30vh;
    }
    #theme1{
        margin-left: 8vw;
        margin-right: 2vw;
    }
    #theme1 img{
        width: 100%;
    }
    #theme2 img{
        width: 100%;
    }
}